.footer-newsletter {
    margin-left: 93px;
}

.footer-subscribe {
    margin-bottom: 20px;

    color: getColor('primary-bg-color');

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}